*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.container{
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------Left---------------------------------------- */

.left{
    display: flex;
    width: 90px;
    height: 870px;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.left::before{
    position: absolute;
    content: '';
    display: flex;
    width: 1px;
    height: 900px;
    background-color: rgb(177, 173, 173);
    margin-left:  90px ;
}
.left_item{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.left_item--down1{
    margin-top: 240px;
}
.left_item--down2{
    margin-top: 25px;
}
/* ---------------------------------------Center---------------------------------------- */
.center{
    width: 910px;
    height: auto;
    margin: 0 auto;
    position:relative;
    
}
.center::before{
    position: absolute;
    content: '';
    display: flex;
    width: 2px;
    height: 900px;
    background-color:  rgb(216, 209, 209);
    margin-left: 910px;
}

.center_content{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.center_content h2{
    margin-top: 42px;
    margin-left: 40px;
}
.center_content--box{
    margin-top: 42px;
    margin-right: 40px;
    

}
.center_content--box .fa-solid{
    
    color: red;

 
    display: flex;
    margin-top: 2px;
    padding-right: 13px;
    align-items: center;
    justify-content: center;
}
.center_content--box  p{
    display: flex;
    width: 90px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    border-radius: 33px;
    padding: 10px;

}
.center_date{
    margin-top: 20px;
    margin-left: 42px;
    display: flex;
    align-items: center;
}
.internal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 30px;
    background-color: #E34D73;
    border-radius: 20px;
    font-size: 13px;
    color:white;
    padding-right: 5px;
    
}
.internal i{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-top: 1px;
}
.date{
    margin-left: 12px;
    color: #b2b2b2;
}
.fa-regular{
    margin-left: 5px;
    margin-right: 15px;
}
.date::after{
    content: '';
    position:absolute;
    width: 2px;
    height: 17px;
    background-color:#d4d4d4;
    margin-left: 20px;
    border-radius: 30px;
}
.time{
    margin-left: 42px;
    color: #b2b2b2;
}
.img{
    /* position: relative; */
    margin-top: 35px;
    margin-left: 40px;
    background-image: url('./img/img_big.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    width: 831px;
    height: 460px;
}
.img_big{
    
    /* display: flex; */
    position: absolute;
    
}
.img_mic{
    width: 36px;height: 36px;
    margin-top: 12px; 
    margin-right: 23px;
    
    
}
.img_word{
    /* position: absolute; */
    width: 154px;
    height: 37px;
    margin-top: 12px;
    margin-left: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: grey;
}
.fa-solid{
    color:rgb(55, 200, 55);
}
/*  */

.imgdown1{
    /* position: relative; */
    margin-top: 35px;
    margin-left:40px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 160px;
}

.img_items1
{
    display: flex;
    background-image: url('./img/img2.png');
    background-repeat: no-repeat;
    margin-left: 5;
    border-radius: 15px;
}
.img_items2
{
    display: flex;
    background-image: url('./img/img1.png');
    background-repeat: no-repeat;
    border-radius: 15px;
}
.img_items3
{
    display: flex;
    background-image: url('./img/img.png');
    background-repeat: no-repeat;
    margin-right: 42px;
    border-radius: 15px;
}

.imgdown_word{
    /* position: absolute; */
    width: 100px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}
.imgdown_mic{
    width: 25px;height: 25px;
    margin-top: 10px;
    margin-left: 120px;
}

.img_item4{
    width: 910px;
    display: flex;
    justify-content: center;
    /* margin-left: 280px; */
}
.item4_bottom{
    padding: 10px;
}
.item4word_bottom{
    margin-left: 10px;margin-right: 10px;
    margin-top: 10px;
    width: 125px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 5px;

}
/* ---------------------------------------Right---------------------------------------- */
.right{
    width: 440px;
}
.right_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    margin-left: 40px; 
    margin-right: 40px;
}
.content_p{
    margin-right: 130px;
    width: 20px;
    height: 20px;
    background-color: rgb(247, 167, 180);
    color: rgb(235, 41, 41);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    
}
.content_p1{
    width: 70px;
    height: 35px;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  */
.contact{
   
}
/*  */
.contact_left{
    margin-left: 25px;
    margin-top: 35px;
    display: flex;
    align-items: center;

}
.contact_left1{
    margin-left: 25px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    position: relative;
}
.contact_left12{
    margin-left: 25px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    position: relative;
}
.contact_left12::before{
    position: absolute;
    content: '';
    display: flex;
    width: 450px;height: 2px;
    background-color: rgb(216, 214, 214);
    margin-top: 100px;
    right: -10px;

}
.left_3icon{
    display: flex;
    align-items: center;
    margin-left: 140px;
}
/*  */
.left1_3icon{
    display: flex;
    align-items: center;
    margin-left: 180px;
}
.left2_3icon{
    display: flex;
    align-items: center;
    margin-left: 185.25px;
}
.left3_3icon{
    display: flex;
    align-items: center;
    margin-left: 180px;
}
/*  */
.left_icon{
    padding: 1px;
}
.left_p{
    padding-left: 10px;
}
/* ----------------------------------------- */
.mid_contact{
    margin-top: 70px;
    margin-left: 30px;
}
.mid_chat{
    margin-left: 25px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.chat_p{
    padding-left: 18px;
}
.chat_time{
    padding-left: 12px;
    font-size: 12px;
    color: grey;
}
.mid_chattxt{
    margin-left: 80px;
    margin-top: 5px;
    width: 330px;
    height: 60px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chat_txt {
    color: black;
    padding-left: 10px;
    font-size: 16px;
}
.mid_chat1{
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.box{
    margin-left: 25px;
    width: 330px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.box_txt{
    font-size: 20px;
    margin-left: 10px;
}
.box_icon{
    margin-left: 230px;
}